/* 
// tailwind.css
// This is where I put the custom styles I want. You may notice that it isn't that large. That's because of tailwind!
// This project was made for HackClub's Stardance Challenge.
// nbur21wx 
*/

@import "tailwindcss";

@theme {
    --animate-window-open: window-open 200ms cubic-bezier(0, 0.67, 0, 1);
    @keyframes window-open {
        0% {
            transform: scale(50%);
            filter: blur(10px);
            opacity: 0;
        }
        100% {
            transform: scale(100%);
            filter: blur(0px);
            opacity: 1;
        }
    }
    --animate-window-close: window-close 200ms cubic-bezier(0,-0.01,.36,0);
    @keyframes window-close {
        0% {
            transform: scale(100%);
            filter: blur(0px);
            opacity: 1;
        }
        90% {
            transform: scale(50%);
            filter: blur(10px);
            opacity: 0;
        }
        100% {
            transform: scale(50%);
            filter: blur(10px);
            opacity: 0;
        }
    }
    --animate-fade-in: fade-in 200ms cubic-bezier(0, 0.67, 0, 1);
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    --animate-fade-out: fade-out 200ms cubic-bezier(0,-0.01,.36,0);
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}